.wrapper {
  display: flex;
  min-width: 0;
}

.wrapperGrow {
  flex-grow: 1;
  min-height: 0;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
