.host {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 1.333;
}

.hostVariantNeutral {
  color: var(--contrast-secondary);
}

.hostVariantError {
  color: var(--negative-text-and-icons);
}

.hostVariantSuccess {
  color: var(--positive-text-and-icons);
}

.hostVariantWarning {
  color: var(--warning-text-and-icons);
}
