html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--surface-canvas);
  color: var(--contrast-primary);
  font-family: var(--font-main);
  overscroll-behavior: none;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}
