.root {
  display: inline-flex;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.item {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 48px;
  padding: 8px 12px;
  transition: background-color 100ms ease-in-out;
  border: none;
  border-radius: var(--corner-radius-s);
  background: none;
  color: var(--contrast-primary);
  font-family: var(--font-main);
  line-height: 1.25;
  cursor: pointer;

  &:disabled {
    color: var(--contrast-tertiary);
    cursor: default;
  }

  &:hover:not(:disabled) {
    outline: none;
    background-color: var(--control-bg-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--control-bg-active);
  }
}

.itemIconStart {
  display: inline-flex;
  flex-shrink: 0;
  padding-inline-end: 12px;
}

.itemLabel {
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
}
