.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  flex-grow: 1;
  min-width: 0;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 16px;
  background: var(--surface-canvas);
}
