.host {
  display: inline-flex;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0 12px;
  overflow: hidden;
  transition: background-color 200ms ease-in-out;
  border: 1px solid var(--input-border);
  outline: none;
  background: var(--input-bg-default);
  color: var(--contrast-primary);
  cursor: text;
  gap: 12px;

  &:focus-within:not(.hostDisabled, .hostError) {
    z-index: 1;
    border-color: var(--accent-text-and-icons);
  }

  &:hover:not(.hostDisabled) {
    background: var(--input-bg-hover);
  }
}

.wrapper {
  display: inline-flex;
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  max-width: 100%;
  gap: 12px;
  padding-inline: 4px;
}

.icon {
  display: inline-flex;
}

.hostWithFloatingLabel {
  height: 56px;
}

.hostEmpty:not(.hostDisabled) {
  color: var(--contrast-secondary);
}

.hostDisabled {
  background: var(--input-bg-inactive);
  color: var(--contrast-tertiary);
  cursor: not-allowed;
}

.hostError {
  border-color: var(--negative-text-and-icons);
}

.hostFullWidth {
  width: 100%;
}

.input {
  display: flex;
  position: relative;
  flex-grow: 1;
  min-width: 0;
  height: 100%;
}

.placeholder {
  display: flex;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  order: -1;
  height: 20px;
  margin: auto;
  user-select: none;
  inset-block-start: 0;
}

.floatingLabel {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  inset-block-start: 0;
  order: -1;
  height: fit-content;
  margin: auto;
  overflow: hidden;
  transform-origin: top left;
  transition-property: transform, color;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  color: var(--contrast-secondary);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  .host:not(.hostEmpty) &,
  .host:focus-within & {
    transform: translateY(-10px) scale(0.81);
  }

  .host:not(.hostEmpty) & {
    color: var(--contrast-secondary);
  }

  .host:focus-within & {
    color: var(--accent-text-and-icons);
  }
}

.nativeInput {
  display: block;
  z-index: 1;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: currentcolor;
  cursor: inherit;
  caret-color: var(--contrast-primary);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--contrast-secondary);
    -webkit-text-fill-color: var(--contrast-secondary);
  }

  .hostWithFloatingLabel & {
    padding-top: 24px;
    padding-bottom: 8px;
  }

  &:disabled {
    -webkit-text-fill-color: var(--contrast-tertiary);
  }
}

.clearIcon {
  display: flex;
  box-sizing: border-box;
  padding: 4px 0;
  transition: opacity 100ms ease-in-out;
  opacity: 0;
  color: var(--contrast-tertiary);
  cursor: pointer;
  pointer-events: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.95;
    }
  }

  &:active {
    opacity: 0.9;
  }
}

.clearIconVisible {
  opacity: 1;
  pointer-events: all;
}
